@using Car_Rental.Common.Classes;
@using Car_Rental.Common.Error;

@if (Errors.Count > 0 && DisplayCondition)
{
    <div>
        <div class="alert alert-danger d-inline-block" role="alert">
            <h3 class="mb-4">@Title</h3>
            <ul>
                @foreach (Error error in Errors)
                {
                    <li>@error.Source --- @error.Message</li>
                }
            </ul>
        </div>
    </div>
}

@code {
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public List<Error> Errors { get; set; } = new();

    [Parameter]
    public bool DisplayCondition { get; set; } = true;
}
